* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
}
h2{
    color: white;
    font-size: 18px;
}
.log {
    display: flex;
    width: 930px;
}

.log-img {
    background-color: #121212;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px 0 0 20px;
    box-shadow: 1px 2px 20px #000;
}

.log-img img {
    width: 100%;
}

.log-box {
    background-color: #121212;
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    width: 50%;
    border-radius: 0 20px 20px 0;
    box-shadow: 1px 2px 20px #000;
}

.log-box form {
    margin: 20px 0;
}

input {
    width: 100%;
    height: 46px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #581258;
    color: white;
    font-size: 15px;
}

.entry {
    position: '';
    display: flex;
    margin-bottom: 20px;
}

.center {
    text-align: center;
}

button {
    background: transparent;
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    border: 2px solid white;
    margin: 20px;
    cursor: pointer;
    transition: ease-in-out .25s;
}

button:hover {
    background: #370f53;
}

div p {
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin: 8px;
}
div p:hover {
    color: #e28ce2;
    transition: .5s;
}

/*==== deixar os nomes do cadastro transparente ====*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}